; use npmjs registry for @hankei6km scope.
; remove ';' from following lines if want to use GitHub package registry.
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
@hankei6km:registry=https://npm.pkg.github.com
